@model LibrarySystem.Models.ViewModel.AuthorViewModel
@{
    ViewData["Title"] = "Author";
}
<h1>Edit Author </h1>

<form method="post" action="ViewAuthor" class="mt-5">
    <div class="mb-3">
        <label for="ID" class="form-label">ID</label>
        <input type="text" class="form-control" asp-for="id" value="@Model.id" readonly />
    </div>
    <div class="mb-3">
        <label for="FirstName" class="form-label">First Name</label>
        <input type="text" class="form-control" asp-for="first_name" value="@Model.first_name" />
    </div>
    <div class="mb-3">
        <label for="LastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" asp-for="last_name" value="@Model.last_name">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="submit" class="btn btn-danger" asp-action="DeleteAuthor" asp-controller="Authors">Delete</button>

</form>

